<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzp.Mapper.ScoreMapper">
    <insert id="InsertScore">
        insert into exam_record values(#{course},#{stu_name},#{point},#{time},#{retake_flag})
    </insert>
    <select id="showAll" resultType="com.xzp.Pojo.exam_record">
        select * from exam_record where course=#{course}
    </select>
    <select id="showOne" resultType="com.xzp.Pojo.exam_record">
        select course,student_name,point,time from exam_record where student_name=#{student_name}
    </select>
    <select id="getMaxRetakeFlagById" resultType="java.lang.String">
        select max(retake_flag)  from exam_record where student_name=#{stu_name} and course=#{course}
    </select>
</mapper>